.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.timer__options{
    display: flex;
    gap: 20px;
}

.timer__options button{
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
    outline: none;
    border: none;
    background: blue;
    color: white;
}

.timer__options button:nth-of-type(2) {
    background: red;
}